# Basic
name:               "codebicycle"

# URL
baseurl:            ""
permalink:          /:title

# Markdown
markdown:           kramdown

kramdown:
  input:            GFM
  # hard_wrap:        true

# Navigation
nav:

# Sass
sass:
  style:            :compressed

# Scopes
defaults:
  -
    scope:
      path:         ""
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      path:         ""
      type:         "posts"
    values:
      layout:       "post"
